/* put your own styles to customize and override the theme */

.remove-button {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 18px;
}

.remove-button:hover {
  color: #9d9d9d;
}
.top-bar-item-link {
  color: #ffffff;
}
.top-bar-item-link:hover {
  color: #a599c8;
}

.sign-in-link {
  color: #ff4ab2 !important;
  text-decoration-color: #ff4ab2 !important;
}
.sign-in-link:hover {
  color: #c43989 !important;
  text-decoration-color: #c43989 !important;
}
h1,
h2,
h3,
h4 {
  color: #251359;
}
